<div class="container">
  <div class="container header-cont">
    <div class="heading-cont">
      <h1>Blocipedia</h1>
    </div>
  </div>
  <div class="container cont-border">
    <div class="jumbotron jumbo-content">
      <h2>Create and Share Markdown Wikis</h2> <br/>
      <%= link_to "Sign Up", '#', class: 'btn btn-primary' %>
    </div> 
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="container cat-headers">
          <div class="jumbotron action-text">
            <h2>Explore</h2>
          </div> 
        </div> 
      </div>
      <div class="col-md-4">
        <div class="container cat-headers">
          <div class="jumbotron action-text">
            <h2>Create</h2>
          </div> 
        </div> 
      </div>
      <div class="col-md-4">
        <div class="container cat-headers">
          <div class="jumbotron action-text">
            <h2>Share</h2>
          </div> 
        </div> 
      </div>
    </div>
  </div>
</div>
