.container
  .row
    .col-md-6.col-md-offset-2
      = link_to (markdown_to_html wiki.title), wiki_path(wiki)
    .col-md-1
      - if policy(wiki).update?
        = link_to "Edit", edit_wiki_path(wiki)
    .col-md-1
      -if policy(wiki).destroy?
        = link_to "Delete", [wiki], method: :delete
