<% if policy(@wiki).update? %>
  <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<% end %>
<h1> <%= markdown_to_html @wiki.title %> </h1> 
<p> <%= markdown_to_html @wiki.body %> </p> 