.row
  .col-md-4
    %h2 Blocipedia Free
    %ul
      %li
        Create Unlimited Public Wikis
      %li
        View and Edit Other Public Wikis
  .col-md-4
    %h2 Blocipedia Premium
    %h3 All of Blocipedia Free
    %ul
      %li
        Create Unlimited Private Wikis
      %li
        Collaborate and Share Private Wikis
= form_tag charges_path do
  %h4 Click the Button!
  %script.stripe-button{"data-amount" => @stripe_btn_data[:amount], "data-description" => @stripe_btn_data[:description], "data-key" => @stripe_btn_data[:key], :src => "https://checkout.stripe.com/checkout.js"}